<!DOCTYPE html>
<html lang="en">

{{>_head}}

<body>
  {{> _navbar}}

  <div class="container">
    {{> _msg}} {{> _errors}} {{{ body }}}
  </div>

  <div id="client-partials">

  </div>
  <script id="categories-template" type="text/x-handlebars-template">
  <div class="container">
    <h1>(Partials _categories)</h1>
    {{#each categories}}
    <h1> {{ categories.CategoryName }}</h1>
    {{/each}}
  </div>
</script>



</body>

</html>