<!DOCTYPE html>
<html lang="en">

{{>_head}}

<body>
  {{> _navbar}}

  <div class="container">
    {{> _msg}} {{> _errors}} {{{ body }}}
  </div>
  <div class="container">
    {{> _categories }}
  </div>





</body>

</html>