<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Jamie's eBay Express !!</h1>
    <p class="lead">(index.handlebars)</p>
    <hr class="my-2">
    <p>Automate and Streamline eBay Retailing - Make more money Jamie!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/menu" role="button">Start Using Express !</a>
      <a class="btn btn-primary btn-lg" href="/authServices/loggedInBypass" role="button">Bypass Use Preset Token !</a>

    </p>
  </div>