<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Pipeline Home Page !</h1>
    <p class="lead">(index.handlebars)</p>
    <hr class="my-2">
    <p>Automate and Streamline eBay Retailing - Make more money Jamie!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/menu" role="button">Start Using Pipeline!</a>
    </p>
  </div>