<div class="jumbotron">
  <div class="container">

    <h1 class="display-3">Jamie's eBay Express !!</h1>
    <p class="lead">(loggedIn.handlebars)</p>
    <div class="card card-header mb-3">Thank you for logging in!</div>
    <hr class="my-2">
    <p>Automate and Streamline eBay Retailing - Make more money Jamie!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/eBay/geteBayOfficialTime" role="button">Sync to eBay Official Time</a>
      <a class="btn btn-primary btn-lg" href="/tradingAPI/getHighCategories" role="button">Get High Level Categories</a>

    </p>
    <div class="container">
      {{> _categories }}
    </div>
  </div>