<div class="jumbotron">
  <div class="header">
    <button class="btn btn-primary">Login to Application</button>
  </div>
  <div id="ebayCall">
    <h1>Acknowledgement: {{ ack }} </h1>
    <h1>SessionID: {{ sesId }} </h1>
  </div>
</div>