<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Pipeline Menu Page !</h1>
    <p class="lead">(menu.handlebars)</p>
    <hr class="my-2">
    <p>Make a selection from the available choices below:</p>
    <p class="lead">
      <ul>
        <li>
          <a class="btn btn-primary btn-lg" href='/makeCall' role="button">List an Item !</a>
        </li>
      </ul>
    </p>

  </div>