<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card mb-3">
      <h3 class="card-header">Pipeline User Consent</h3>
      <div class="card-body">
        <h5 class="card-title">Terms and Conditions</h5>
      </div>

      <div class="card-body">
        <p class="card-text">IMPORTANT PLEASE READ CAREFULLY: This End User License Agreement ("EULA") is a legal agreement between you (either
          an individual or a single entity) (“Licensee”) and CSC-JLL Corporation ("Pipeline") for software, owned by Pipeline
          and its affiliated companies and its third party suppliers and licensors, that accompanies this EULA, which includes
          machinereadable instructions used by a processor to perform specific operations other than machine-readable instructions
          used for the sole purpose of booting hardware during a startup sequence ("Software"). BY USING THE SOFTWARE, YOU
          ACKNOWLEDGE ACCEPTANCE OF THE TERMS OF THIS EULA. IF YOU DO NOT ACCEPT THESE TERMS, DO NOT USE THE SOFTWARE. NOTICE:
          The Software in Demo mode is a free evaluation version of the software. It may not include the full functionality
          found in the full version. The Software is provided “as-is” and Pipeline provides no support for the Demo version.
          The Software in Demo mode is made available to you solely for the purpose of demonstrating the program capabilities
          of the software so you can evaluate whether to purchase a full license of the software. This Software in Demo mode
          is made available for use by you as an end user according to this EULA. The evaluation period for use by you is
          limited to ninety (90) days from the date you receive the Demo Software (“Evaluation Period”). The EULA is automatically
          terminated at the end of the Evaluation Period and you must destroy or erase your copy of the Software at that
          time. Pipeline may terminate this EULA at any time by delivering notice to you and you may terminate this license
          at any time by destroying or erasing your copy of the Software. 1. GRANT OF LICENSE a. (Demo Mode). If you are
          evaluating the Software in demo mode (“Demo Software”), Pipeline grants you, EndUser Customer, the following rights
          provided that you comply with all terms and conditions of this EULA: For Demo Software associated with Pipeline
          hardware, Pipeline hereby grants you a limited, personal, royalty-free, nonexclusive license during the Evaluation
          Period to evaluate the Demo Software solely and exclusively for your non-commercial internal use in support of
          the operation of your associated Pipeline hardware and for no other purpose. To the extent that any portion of
          the Demo Software is provided to you in a manner that is designed to be installed by you, you may install one copy
          of the installable Demo Software on one hard disk or other device storage for one printer, computer, workstation,
          terminal, controller, access point or other digital electronic device, as applicable (an "Electronic Device"),
          and you may access and use that Demo Software as installed on that Electronic Device so long as only one copy of
          such Demo Software is in operation. For a standalone Demo Software application, you may install, use, access, display
          and run only the number of copies of the Demo Software required for the evaluation. You may make one copy of the
          Demo Software in machine readable form for backup purposes only, provided that the backup copy must include all
          copyright or other proprietary notices contained on the original. b. (Full License). If you are licensed to use
          the full version of the Software, Pipeline grants you, End-User Customer, the following rights provided that you
          comply with all terms and conditions of this EULA: For Software associated with Pipeline hardware, Pipeline hereby
          grants you a limited, personal, non-exclusive license during the term of this Agreement to use the Software solely
          and exclusively for your internal use in support of the operation of your associated Pipeline hardware and for
          no other purpose. To the extent that any portion of the Software is provided to you in a manner that is designed
          to be installed by you, you may install one copy of the installable Software on one hard disk or other device storage
          for one printer, computer, workstation, terminal, controller, access point or other digital electronic device,
          as applicable (an "Electronic Device"), and you may access and use that Software as installed on that Electronic
          Device so long as only one copy of such Software is in operation. For a standalone Software application, you may
          install, use, access, display and run only the number of copies of the Software to which you are entitled. You
          may make one copy of the Software in machine readable form for backup purposes only, provided that the backup copy
          must include all copyright or other proprietary notices contained on the original. In the absence of a support
          contract, you are entitled, for a period of ninety (90) days from when the instance of Software (or hardware including
          the Software) are first shipped by Pipeline or downloaded by End-User Customer, to obtain, if available, updates,
          from Pipeline and operational technical support, not including implementation, integration or deployment support
          (“Entitlement Period”). You may not obtain updates from Pipeline after the Entitlement Period, unless covered by
          a Pipeline support contract or other written agreement with Pipeline. Certain items of the Software may be subject
          to open source licenses. The open source license provisions may override some of the terms of this EULA. Pipeline
          makes the applicable open source licenses available to you on a Legal Notices readme file available on your device
          and/or in System Reference guides or in Command Line Interface (CLI) Reference guides associated with certain Pipeline
          products. 1.1 Authorized Users. For a standalone Software application, the licenses granted are subject to the
          condition that you ensure the maximum number of authorized users accessing and using the Software either alone
          or concurrently is equal to the number of user licenses for which you are entitled to use either through a Pipeline
          channel partner member or Pipeline. You may purchase additional user licenses at any time upon payment of the appropriate
          fees to the Pipeline channel partner member or Pipeline. 1.2 Software Transfer. You may only transfer this EULA
          and the rights to the Software or updates granted herein to a third party in connection with the support or sale
          of a device which the Software accompanied or in connection with a standalone Software application during the Entitlement
          Period or as covered by a Pipeline support contract. In such event, the transfer must include all of the Software
          (including all component parts, the media and printed materials, any upgrades, and this EULA) and you may not retain
          any copies of the Software. The transfer may not be an indirect transfer, such as a consignment. Prior to the transfer,
          the end user receiving the Software must agree to all the EULA terms. If Licensee is purchasing Pipeline Products
          and licensing Software for end use by a U.S. Government end user, Licensee may transfer such Software license,
          but only if: (i) Licensee transfers all copies of such Software to the U.S. Government end user or to an interim
          transferee, and (ii) Licensee has first obtained from the transferee (if applicable) and ultimate end user an enforceable
          end user license agreement containing restrictions substantially identical to the ones contained in this Agreement.
          Except as stated in the foregoing, Licensee and any transferee(s) authorized by this provision may not otherwise
          use or transfer or make available any Pipeline software to any third party nor permit any party to do so. 2. RESERVATION
          OF RIGHTS AND OWNERSHIP. Pipeline reserves all rights not expressly granted to you in this EULA. The Software is
          protected by copyright and other intellectual property laws and treaties. Pipeline or its suppliers own the title,
          copyright and other intellectual property rights in the Software. The Software is licensed, not sold. 3. LIMITATIONS
          ON END USER RIGHTS. You may not reverse engineer, decompile, disassemble, or otherwise attempt to discover the
          source code or algorithms of, the Software (except and only to the extent that such activity is expressly permitted
          by applicable law not withstanding this limitation), or modify, or disable any features of, the Software, or create
          derivative works based on the Software. You may not rent, lease, lend, sublicense or provide commercial hosting
          services with the Software. 4. MACHINE DATA. “Machine Data” means anonymized usage data collected by devices sold
          (or licensed) under this Agreement such as battery management (time to empty, standby current, average current),
          device system time, CPU processing load, free RAM, number of running processes, network information (name, identifier),
          device identifier, firmware version, hardware version device type, audio volume, LED state, beeper volume, backlight
          level, key light, odometer count, reboot, reboot cause, total storage and physical memory availability, power cycle
          count, and device up time. Notwithstanding anything else in this Agreement, all title and ownership rights in and
          to Machine Data are held by Pipeline. In the event, and to the extent you are deemed to have any ownership rights
          in Machine Data, you hereby grant Pipeline a limited, revocable, non-exclusive right and license to use Machine
          Data.
        </p>
      </div>
      <div class="jumbotron">
        <p class="lead">To accept these more than generous and reasonable items please click below:</p>
        <a class="btn btn-success" href="/authenticated" role="button">Accept</a>
        <a class="btn btn-danger" href="/declined" role="button">Oh Hell No!</a>
      </div>
      <div class="card-footer text-muted">
        2018 CSC-JLL Enterprises Inc.
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
</div>